<h3>
  <label>ApiUrl : </label>
  {{apiCall.url}}
</h3>
<h3>
  <label>Token : </label>
  {{token}}
</h3>

<br>
<br>


<!-- login in form -->
<form [formGroup]="loginForm" (ngSubmit)="doLogin($event)">
  <div class="" *ngFor="let paramKey of paramKeys()">
    <input formControlName="{{paramKey}}" type="text" placeholder="Your email">
    <input formControlName="{{paramKey}}Checked" type="checkbox" value="true">
  </div>
    <!-- <input type="checkbox" id="cbox1" value="first_checkbox"> This is the first checkbox</label> -->
  <button type="submit">Log in</button>
</form>



<!-- Show Params -->
<div *ngFor="let paramKey of paramKeys()" class="cutomForm">
  <div class="form-group">
    <div class="input-group">

      <label>{{paramKey}}: </label>
      <input class="form-control" [(ngModel)]="apiCall.params[paramKey]"/>

      <button type="button" class="btnClose" aria-label="Close text-danger" (click)="removeParam(paramKey)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<!-- Show Payload -->
<div class="form-group" *ngIf="apiCall.httpVerb == 'POST'">
  <label for="payload">Pyaload:</label>
  <textarea class="form-control" rows="5" id="comment" [(ngModel)]="apiCall.payload"></textarea>
</div>

<button type="button" name="Submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>


<br>
<br>
<br>

<h3>
  <label>Response : </label>
</h3>

<div class="" *ngIf="isLoading">
  Loading ...
</div>
<pre *ngIf="response">
  {{response | json}}
</pre>
